* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
}

#header {
    min-height: 150px;
    background-color: green;
    margin: 10px;
    padding: 2px;
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin: 0px 0px 0px 10px;
    display: inline-block;
    vertical-align: top;
}

#main_content {
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin: 0px 0px 10px 25px;
    display: inline-block;
    /* overflow: hidden;
    height: auto; */
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 0px 10px;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    background-color: purple;
    display: inline-block;
    margin: 40px 80px 80px 10px;
    /* padding: 0px 300px 0px 0px; */
}